<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">

    </div>
  </div>
  <div class="form">
    <form [formGroup]="addWarGameForm" (ngSubmit)="addWarGame($event)">
      <div class="form-row">
        <div class="form-group col-4">
          <label>Name Game</label>
          <input formControlName="warGameName" type="text" placeholder="Name game">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">
          <label>Genre</label>
          <input formControlName="genre" type="text" placeholder="Genre">
        </div>
      </div>
    </form>
  </div>
  <button (click)="addWarGame($event)">Add WarGame</button>

  <table class="table">
    <thead class="thead-light">
    <tr class="table1">
      <th scope="col" class="table1">Name Game</th>
      <th scope="col" class="table1">Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let warGame of warGames" class="table1">
      <td class="table1">{{warGame.name}}</td>
      <td class="table1">{{warGame.genre}}</td>
    </tr>
    </tbody>
  </table>
</div>
